
body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Grape Nuts', cursive;
}

.form-control:focus{
    border-color: blueviolet;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    outline: 0 none;
}
.btn{
    color: rgb(242, 242, 249);
}
.btn:hover{
    color: #b496e5;
    background-color: lavender!important;
}
.card{
    transition: all .4s ease-in-out;
}
.card:hover{
    transform: scale(1.02);
}
.dropdown-item:active{
    background-color: lavender;
}
.dropdown-item:hover{
    background-color: lavender!important;
}
.text-bio{
    font-size: 1.09rem;
}
